* {
  background-color: red;
  display: 'flex';
  justify-content: center;
  align-items: center;
}

.Card {
  border: solid;
  border-color: red;
  width: 74px;
  height: 102px;
  background-image: url('./MMCard2.png');
  background-color: blue;
  cursor:pointer;
}

.CardFaceup {
  border: solid;
  border-color: red;
  width: 74px;
  height: 102px;
  background-color: white;
  font-size: 48px;
  text-align: center;
}

.DeadCard {
  border: solid;
  border-color: red;
  width: 74px;
  height: 102px;
  background-color: red;
}

.Card:hover {
  border-color: yellow;
  transition: 0.3s;
}

.NextButton {
  border: solid;
  border-color: red;
  background-color: darkred;
  width: 150px;
  height: 50px;
  font-size: 24px;
  color: white;
  cursor:pointer;
}

.NextButton:hover {
  border-color: yellow;
  transition: 0.3s;
}

.Board {
  color: yellow;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.PlayerText {
  color: white;
  font-size: large;
  font-weight: 500;
}

.App {
  text-align: center;
  display:"flex";
  align-items:"center";
  justify-content: "center";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
